*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1e1e1e;
    font-family: sans-serif;
    color: #a0a0a0;
    line-height: 1.6;
}
.main-container{
    display: grid;
    max-width: 1200px;
    grid-template-columns: 350px 1fr;
    gap: 40px;
    padding: 40px;
    margin: auto;
}
.sidebar{
    height: 92vh;
    background-color: #2a2a2a;
    border: 2px solid #3a3a3a;
    border-radius: 16px;
    padding: 30px;
    position: sticky;
}
.main-content{
    height: 100%;
    background-color: #2a2a2a;
    border: 1px solid #3a3a3a;
    border-radius: 16px;
    padding: 40px;
}

/* profile */
.profile img{
    height: 120px;
    width: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #3a3a3a;
    overflow: hidden;
}
.profile{
    text-align: center;
}
.profile h2{
    font-size: 1rem;
    font-weight: 700;
    margin-top: 10px;
    color: #e0e0e0;
}
.profile p{
    background-color: #1e1e1e;
    padding: 5px 10px;
    font-size: 0.7rem;
    border: 1px solid #3a3a3a;
    border-radius: 8px;
    color: #FFBF00;
    margin-top: 10px;
    display: inline-block;
}

/* contact */
.contact{
    margin-top: 30px;
    border-top: 2px solid #3a3a3a;
    /* gap: 10px; */
    padding-top: 10px;
}
.lable{
    font-size: 0.8rem;
    color: #a0a0a0;
}
.value{
    color: #e0e0e0;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 10px;
    font-weight: 550;
}

/* social */
.social{
    margin-top: 20px;
    border-top: 2px solid #3a3a3a;
    padding-top: 10px;
    text-align: center;
}
.social a img{
    height: 24px;
    width: 24px;
    filter: grayscale(1) invert(0.7);
    transition: all 0.3s ease;
}
.social img:hover{
    filter: none;
}

/* nav bar */
#navigation{
    border-bottom: 2px solid #3a3a3a;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
nav{
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    
}
nav a{
    text-decoration: none;
    color: #a0a0a0;
    font-weight: 550;
    transition: all 0.3s ease;
}
.ab{
    color: #FFBF00;
}
nav a:hover{
    color: #FFBF00;
}

/* about me */

.heading{
    color: #e0e0e0;
    font-size: 1.5rem;
    margin-bottom: 15px;
}
.line{
    background-color: #FFBF00;
    height: 5px;
    width: 50px;
    margin-bottom: 15px;
}
.about-content{
    text-align: justify;
}